---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const pages = await getCollection('pages')

  return pages.map(post => ({
    params: { id: post.id },
    props: { id: post.id, title: post.data.title },
  }));
}

const { id, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style> body { margin: 0; } </style>
    <title>{title}</title>
  </head>
  <body>
    <div class="info" id="info-card"></div>
    <div id="3d-graph"></div>
    <div id="code">{title}</div>
  </body>
</html>

<script>
    import ForceGraph3D from "3d-force-graph";

    import SpriteText from "three-spritetext";

    import data from '../../data/data.json' assert { type: 'json'};

    const article = document.getElementById('code')?.textContent;

    const infoCard = document.getElementById('info-card');

    // Filtering dataset into subgraph

    const resultNodes = [];

    // main node
    
    const filteredItem = data.nodes.filter(item => item.id == article)[0];
    const mainItem = {"id": filteredItem['id'], "address": filteredItem['address'], "intro": filteredItem['intro'], "group": 1, "active": true};
    resultNodes.push(mainItem);

    // nodes from second group

    const targets = data.links.filter(item => item.source == article).map(item => item.target);
    const sources = data.links.filter(item => item.target == article).map(item => item.source);
    
    const secondGroup = [...new Set([...targets, ...sources])];

    for (let name of secondGroup) {
        let item = data.nodes.filter(item => item.id == name)[0];
        let secondaryNode = {"id": item['id'], "address": item['address'], "intro": item['intro'], "group": 2, "active": false};
        resultNodes.push(secondaryNode);
    }
    
    // nodes from third group

    const targetSet = new Set();
    for (let name of secondGroup) {
        let items = data.links.filter(item => 
            (item.source == name) &&
            !(secondGroup.includes(item.target)) &&
            (item.target != mainItem['id'])
        ).map(item => item.target);
        for (let item of items) {
            if (!targetSet.has(item)) {
                targetSet.add(item)
            }
        }
    };
    const fartherTargets = [...targetSet];

    const sourceSet = new Set();
    for (let name of secondGroup) {
        let items = data.links.filter(item => 
            (item.target == name) &&
            !(secondGroup.includes(item.source)) &&
            (item.source != mainItem['id'])
        ).map(item => item.source);
        for (let item of items) {
            if (!sourceSet.has(item)) {
                sourceSet.add(item);
            };
        };
    };
    const fartherSources = [...sourceSet];

    const thirdGroup = [...new Set([...fartherTargets, ...fartherSources])]

    for (let name of thirdGroup) {
        let item = data.nodes.filter(item => item.id == name)[0];
        let tertiaryNode = {"id": item['id'], "address": item['address'], "intro": item['intro'], "group": 3, "active": true}
        resultNodes.push(tertiaryNode);
    }
    
    // Connections between main article and second group
    const primaryConnections = data.links.filter(item => item.source == article || item.target == article);
    
    // Connections between second and third group
    const secondaryConnections = [];
    for (let name of secondGroup) {
        let connection = data.links.filter(item => 
            ((item.source == name) && (item.target != article) ||
            ((item.target == name)) && (item.source != article))
        );
        secondaryConnections.push(...connection);
    };

    const uniqueSecondary = secondaryConnections.filter((o, index, arr) =>
        arr.findIndex(item => JSON.stringify(item) === JSON.stringify(o)) === index
    );


    // Connections between various third group items
    const tertiaryConnections = [];
    for (let name of thirdGroup) {
        let connection = data.links.filter(item =>
            ((item.source == name) && thirdGroup.includes(item.target)) ||
            ((item.target == name) && thirdGroup.includes(item.source)) 
        );
        tertiaryConnections.push(...connection);
    }

    const uniqueTertiary = tertiaryConnections.filter((o, index, arr) =>
        arr.findIndex(item => JSON.stringify(item) === JSON.stringify(o)) === index
    );
    
    const resultConnections = [...primaryConnections, ...uniqueSecondary, ...uniqueTertiary];
    
    const gData = {"nodes": resultNodes, "links": resultConnections};
    
    const nodesById = Object.fromEntries(gData.nodes.map(node => [node.id, node]));
    
    function getPrunedGraph() {
        const visibleNodes = [];
        const visibleLinks = [];

        for (let node of gData.nodes) {
            if (node.group == 1 || node.group == 2) {
                visibleNodes.push(node);
            } else  {
                let test = gData.links.some(link => 
                    (
                        link.target == node.id && 
                        nodesById[link.source].group == 2 && 
                        nodesById[link.source].active
                    ) ||
                    (
                        link.source == node.id &&
                        nodesById[link.target].group == 2 
                        && nodesById[link.target].active
                    ) 
                );
                if (test) {
                    visibleNodes.push(node);
                };

            };
        };

        for (let link of gData.links) {
            if (
                visibleNodes.map(node => node.id).includes(link.source) &&
                visibleNodes.map(node => node.id).includes(link.target)
            ) {
                let resultLink = {source: nodesById[link.source], target: nodesById[link.target]};
                visibleLinks.push(resultLink);         
            }
        };

        return { nodes: visibleNodes, links: visibleLinks };
    }
    
    const Graph = new ForceGraph3D(document.getElementById('3d-graph') as HTMLElement)
    .graphData(getPrunedGraph())
    .nodeColor(node => 
      node.group == 1 ? '#ee4fc5'
      : (node.group == 2 && node.active) ? '#0066cc'
      : (node.group == 2 && !node.active) ? "#66a3e0"
      : '#fff')
    .nodeThreeObject(node => {
        const sprite = new SpriteText(node.id);
        sprite.material.depthWrite = false;
        sprite.color = node.group === 1 ? '#ee4fc5'
        : (node.group === 2) && node.active ? '#0066cc'
        : (node.group === 2) && !node.active ? '#80b3e6'
        : '#ffffff';
        sprite.textHeight = node.group === 1 ? 5
        : node.group === 2 ? 3
        : 2;
        sprite.center.y = node.group === 1 ? -1.6
        : node.group === 2 ? -2.3
        : -2.6;
        return sprite;
    })
    .nodeLabel(node => node.id)
    .nodeVal(node =>
      node.group == 1 ? 6
      : node.group == 2 ? 3
      : 1
    )
    .onNodeClick(node => {
        infoCard!.innerHTML = `
        <div>${node.id}</div>
        <div>
            <a href="${node.address}">Sub-graph</a>
            <a href="https://plato.stanford.edu/entries/${node.address}">Link</a>
        </div>
        <p class="intro">${node.intro}</p>
        <button>Read more</button>`;
        const intro = infoCard?.getElementsByTagName('p')[0];
        const readMoreButton = infoCard?.getElementsByTagName('button')[0];

        readMoreButton?.addEventListener('click', () => {
            intro?.classList.toggle("intro");
            if (readMoreButton?.innerHTML === "Read more") {
                readMoreButton.innerHTML = "Read less";
            } else {
                (readMoreButton as HTMLElement).innerHTML = "Read more";
            }        
        });
        console.clear();
        if (node.group == 2) {
            node.active = !node.active;
            Graph.graphData(getPrunedGraph());
        };
    })
    .linkDirectionalParticles(1)
    .linkDirectionalParticleWidth(0.8)
    .linkOpacity(0.1)
    .nodeThreeObjectExtend(true);

    Graph.d3Force('charge').strength(-100);

    // Info Card interactivity

    infoCard!.innerHTML = `
        <div>${mainItem.id}</div>
        <div>
            <a href="${mainItem.address}">Sub-graph</a>
            <a href="https://plato.stanford.edu/entries/${mainItem.address}">Link</a>
        </div>
        <p class="intro">${mainItem.intro}</p>
        <button>Read more</button>`;

    const intro = infoCard?.getElementsByTagName('p')[0];
    const readMoreButton = infoCard?.getElementsByTagName('button')[0];

    readMoreButton?.addEventListener('click', () => {
        intro?.classList.toggle("intro");
        if (readMoreButton?.innerHTML === "Read more") {
            readMoreButton.innerHTML = "Read less";
        } else {
            (readMoreButton as HTMLElement).innerHTML = "Read more";
        }        
    });
    
</script>

<style>
  .node-label {
    font-size: 12px;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

  .info {
    position: absolute;
    z-index: 5000;
    top: 16px;
    left: 16px;
    right: 16px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#code {
  color: black;
  display: none;
}

.info :global(.intro) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info :global(p) {
    margin: 0;
    max-height: 50vh;
    overflow: auto;
}

.info :global(a) {
    color: #fff;
    background-color: #0066cc;
    border-radius: 10px;
    text-decoration: none;
    width: 100px;
    padding: 5px;
}

.info :global(a):hover {
    background-color: #66a3e0;
}
</style>